<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>19/07/19 18:41:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverApp.TestApplication()[pri:0, instance:com.tss.hybridFrameWork.DriverApp@3c0ecd4b]">TestApplication</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/07/19 18:40:44</td>   <td>-43020</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverApp.initialize()[pri:0, instance:com.tss.hybridFrameWork.DriverApp@3c0ecd4b]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/07/19 18:49:28</td>   <td>480681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverApp.tearDown()[pri:0, instance:com.tss.hybridFrameWork.DriverApp@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
</table>
