
body{
	margin:0px;
	padding:0px;
}
 tr {
color: #000000;
background-color: #FFFFFF;
font-family: Arial, Hevetica, sans-serif;
}
td {
padding-left: 5px;
padding-right: 20px;
}

th{
z-index: 100;
text-align: center;
padding-left: 5px;
padding-right: 20px;
}

#Pass, #totalTestPass{
background-color: RGB(0%,100%,0%);

}

#Skipped, #totalTestSkipped{
background-color: RGB(60%,40%,50%);

}

#Fail, #totalTestFailed{
background-color: RGB(100%,0%,0%);

}
#footer{
  clear:both;
  margin-top:20px;
  margin-left:-10px;
  margin-right:-10px;
  padding-top:3px;
  padding-left:0px;
  padding-right:0px;
  border-top:solid 2px #A3A3A3;
}
body {
margin:10px;
padding:0px
}
#main {
top: 10px;
left: 10px;
z-index: 100;
width: 100%-10px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
border:solid 2px #A3A3A3;

}
h1{
width: 100%;
height:5%;
font-family: Arial;
text-align: center;
z-index: 100;
font-size: 40px;
font-weight:bold;

}
#logo{
float:right;
width: 100%;
height:20%;
text-align: right;
z-index: 100;
}
#form{
width: 100%;
height:5%;
font-family: Arial;
z-index: 100;
font-size: 40px;
font-weight:bold;

}
#testcaseHeading{

background-color: RGB(50%,50%,50%);
}
#result{
float:left;
font-family: Arial;
text-align: left;
z-index: 100;
padding-left: 20px;
padding-right: 50px;
font-size: 40px;
font-weight:bold;

}
#sortoutput{
clear:both;
width:100%;
font-family: Arial;
text-align: left;
z-index: 100;
font-size: 40px;
font-weight:bold;

}
#testcase{
width:100%;
font-family: Arial;
text-align: left;
z-index: 100;
padding-left: 0px;
font-size: 40px;
font-weight:bold;
}